.compression-level {
  width: 400px;
}

.level {
  font-size: 20px;
  width: 400px;
  padding-top: 8px;
  text-align: center;
  display: block;
}

.title {
  padding-top: 30px;
}

.warning {
  background-color: #F08080;
}

.existing-images-input-box {
  margin-top: 2em;
}

#existing-images-dialog-confirm {
  display:none;
}

#existing-images-submit {
  background: #34d955;
  background-image: -webkit-linear-gradient(top, #34d955, #2e8c17);
  background-image: -moz-linear-gradient(top, #34d955, #2e8c17);
  background-image: -ms-linear-gradient(top, #34d955, #2e8c17);
  background-image: -o-linear-gradient(top, #34d955, #2e8c17);
  background-image: linear-gradient(to bottom, #34d955, #2e8c17);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 13px 0 14px 0;
  text-decoration: none;
  width: 8em;
  text-align: center;
  margin-top: 0.8em;
}

#existing-images-submit:hover {
  background: #18961c;
  text-decoration: none;
}

#image-crush-results {
  margin-top: 0.8em;
}

.checkmark {
    display:inline-block;
    width: 60px;
    
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.stem {
    position: absolute;
    width:3px;
    height:9px;
    background-color:#008000;
    left:11px;
    top:6px;
}

.kick {
    position: absolute;
    width:3px;
    height:3px;
    background-color:#008000;
    left:8px;
    top:12px;
}

.red {
    color: #f00; 
}