.dropdown_category{ position:relative;}

.dropdown_category .box-category > ul > li{ 
      position:static; 
	  height:auto;
	  
	  }
.dropdown_category .sub_category_child{ 
     margin-bottom:20px; 
	 width:100%; 
	 clear:both;}	  

.dropdown_category .box-category > ul > li  .all_subcat { 
 	left:-9999px;
	top:-9999px;
  right: auto;
  display: block;
  min-height: 85%;
  height: 100%;
  height:auto !important;
  margin: 0px;
  padding: 20px;
  background-color:#fff;
  position:absolute;
 
 -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.25);
 -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.25);
  box-shadow: 0px 3px 5px  rgba(0,0,0,0.25);
  border-top: 1px solid rgba(0, 0, 0, 0.1);

   width: 320px;
}

.dropdown_category .box-category > ul > li:hover .dropdown_arr + .all_subcat{
	left:220px;
	top:54px;

  z-index:100;
}
.dropdown_category  .all_subcat > ul{ }

.dropdown_category .verticaltab{ padding:0 12px;}
.dropdown_category .box-content .accordeon_categ > ul > li ul > li  a:before{ content:'';}
.dropdown_category .block2{ text-align:center; padding:10px; }
.dropdown_category .block2 .image{ float:none; margin-right:0;}

.dropdown_category .img_categ {
	margin-bottom:20px;}
.dropdown_category .description_categ {
	margin-bottom:20px;}

.sub_category_child > ul > li > a{
   transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
	padding:0 4px 0 0;
    }
.sub_category_child > ul > li > a img{ display:inline-block; margin-right:10px; vertical-align: middle;}
.sub_category_child > ul > li > a span{ display:inline-block; vertical-align: middle;}
	
.box-content .accordeon_categ > ul > li .sub_category_child ul > li a:hover{text-decoration:none;}	
.dropdown_category  .box-content .accordeon_categ > ul > li .sub_category_child > ul > li{
	padding:8px 0;
	position:relative;
	border-bottom:1px solid rgba(0,0,0,0.08);
	}
.sub_category_child > ul > li:hover{ background-color:rgba(0,0,0,0.03);}	
.sub_category_child > ul > li:hover > a{ padding:0 0 0 4px; }

.dropdown_category  .sub_category_child > ul div{ 
    display:block;
	position:absolute;
	left:-9999px;
	top:-9999px;
	min-height: 100%;
    height: 100%;
	height:auto !important;
	background-color:#fff;
	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.25);
     box-shadow: 0px 3px 5px  rgba(0,0,0,0.25);
	 border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
.dropdown_category  .sub_category_child > ul li:hover div{
	left:100%;
	top:0;
  z-index:100;
}
.dropdown_category  .sub_category_child > ul div a{
 	       display:block;
	       padding:3px 8px;
		   min-width:184px;
           transition: all 0.4s ease;
	      -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;}
	  
.sub_category_child .dropdown_arr { 
           background: url(../image/arr_right.png) center right no-repeat; 
		   cursor: pointer;
           height: 34px;
           position: absolute;
           right: 0px;
           top: 50%;
		   margin-top:-17px;
           width: 34px;}
/*right*/
.dropdown_category.position_right .box-category > ul > li > .dropdown_arr { 
           background: url(../image/arr_left.png) center left no-repeat; 
	}
.dropdown_category.position_right .box-content .accordeon_categ > ul > li > a{ padding-left:25px;} 
.dropdown_category.position_right .box-category > ul > li  .dropdown_arr + .all_subcat{
	right:220px;
	left:auto;
	}		   
.dropdown_category.position_right  .sub_category_child > ul li:hover div{ 

}
/*two column*/
.dropdown_category .sub_category_child.two_column > ul { width:150px; display:inline-block; vertical-align:top;}
.dropdown_category .sub_category_child.two_column > ul + ul{ margin-left:16px;}