body {
	background-color: #f1f1f1;
	color: #555;}
.main, .main2{
	background-color: #fff;
		-webkit-box-shadow: 0px 0px 0px 1px #f1f1f1 inset;
	   -moz-box-shadow: 0px 0px 0px 1px #f1f1f1 inset;
	    box-shadow: inset 0px 0px 0px 1px #f1f1f1;
}
.ma-nav-mobile-container.containermenu{ width:1210px;}
h1, .welcome {
	color: #333;}
h2 {
	color: #333;}
a, a:visited, a b {
	color: #333;}	
a:hover {
	color:#FD8A78;}	
#all_header.color{}
#currency a {color: #f4f4f4;}
#currency a b {color: #fff;	background-color:#625a58;}
	
#header #cart {}
#header #cart .heading a {
	color: #333;}	
#header #cart .content {}
#header .header_contact{color:#555;	}
#header .header_topbox{ 
     background-color:#7a706e;}
		
#header .links > div a, #header .links > div {
	color: #fff;}
#header .links > div:hover a, #header .links > div:hover{ color: #fff;}	
#header .links > div:hover{ background-color:#625a58;}

#header #cart .heading > a.bigcart{
   background: url('../image/icon/shopping.png')no-repeat;}	
	
/*menu*/
.ma-nav-mobile-container{
	background-color:#8dd7d8;
	border-top:1px solid rgba(0, 0, 0, 0.08); }	
.menu > ul > li > a {
	color: #333;}	
.menu > ul > li:hover > a {
	color:#fff;}
.menu > ul > li:hover {
	background-color: #625a58;}	
.menu > ul > li > div {
	border:1px solid rgba(0,0,0,0.08);
	background-color: #fff;}
.menu > ul > li > div > ul > li:hover{
	 background-color:#f1f1f1;}
.menu > ul > li > div > ul > li > a{ color:#333; } 	
 .menu > ul > li > div > ul > li > a:hover{}
 
 .menu .topmenu ul li .level3,
 .menu > ul > li > div.topmenu_theme > ul > li > div.topmenu { 
 			   border:1px solid rgba(0,0,0,0.08);
			   background-color:#fff;}
 .menu .topmenu ul li .level3 a,
 .menu > ul > li > div.topmenu_theme > ul > li > div.topmenu a{ }
  .menu .topmenu ul li .level3 li:hover a,
 .menu > ul > li > div.topmenu_theme > ul > li > div.topmenu li:hover > a,
  .displaymenu .menu > ul > li > div.topmenu_theme > ul > li > a:hover{ background-color:#f1f1f1; color: #FD8A78} 				   
.menu > ul > li.homelink > a{ background:url('../image/icon/homelink.png') center center no-repeat;}	
		   
/*mobile menu*/
.navbar .btn-navbar {}
.navbar .btn-navbar div{
	color:#333;}

.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
  background-color: #080808;
}
.navbar .btn-navbar .icon-bar {
  background-color: #3f3f3f;}
 .menu1 .mobilemenu a {
	color:#333;} 
 .menu1 .mobilemenu a:hover {
	color: #333;
	background-color:#f1f1f1;
}
.menu1 .mobilemenu span.head a { 
	color:#333333;}
		
			   
/*breadcrumb*/

.breadcrumb, .breadcrumb a{ color:#666;}
.breadcrumb a:hover{ color:#FD8A78;}

/*pagination*/
.pagination .links a {
	color: #555;
	background-color:#eee;}
.pagination .links b, .pagination .links a:hover  {
	background-color: #8DD7D8;}
	
/*button*/
a.button, input.button {
	color: #FFF;
	background-color:#7a706e;}
input.button.login, .box a.button, .box input.button,
.product-grid input.button, .product-list input.button,
.product-info .cart input.button {}	
a.button:hover, input.button:hover {
	background-color:#fd8a78;
	} 
input.button.login {
  background-image:url('../image/icon/login.png');}
  	
/*tabs*/
.htabs {
	background-color:rgba(0, 0, 0, 0.04);}
.htabs a {}
.htabs a:hover{
	background-color: #8DD7D8;
	color:#333;}	
.htabs a.selected {
 color:#333;
	background-color:#8DD7D8;}
	
/*box*/
.box .box-heading, .box .box-heading a {
	color: #fff;	}
.box .box-heading {
    background-color:#8DD7D8;
	padding-left:10px;}
	
/*box-product*/	
.box-content > .box-product > div, .content_carou .itemcolumns > div, .verticaltab .owl-item,
#column-left .itemcolumns, #column-right .itemcolumns{
	background-color:#fff;
	}
.box-content > .box-product > div:hover, .content_carou .itemcolumns > div:hover, .verticaltab .owl-item:hover,
#column-left .itemcolumns:hover, #column-right .itemcolumns:hover, .product-grid > div:hover{
		   -webkit-box-shadow: 0px 0px 0px 1px #fddf83 inset ;
	       -moz-box-shadow: 0px 0px 0px 1px #fddf83 inset ;
	        box-shadow:inset 0px 0px 0px 1px #fddf83;
	
	}		
.box-product .name a, .compare-info .name a, .cart-info tbody .name a,
	.wishlist-info tbody .name a {
	color: #333;}
.box-product .name a:hover, .compare-info .name a:hover, .cart-info tbody .name a:hover,
	.wishlist-info tbody .name a:hover{ color:#ff5d7d;}
.box-product .price {
	color: #FD8A78;}
.box-product .price-old {
	color: #888;}	
.savemoney{ 
			background-color: #FD8A78;
			color:#fff;}
.hover_but > div a{background-color:#FDDF83;}
.hover_but > div a:hover{ background-color:#FD8A78;}			
.product-filter{}
				
/* box category accordeon */	
.box-content .accordeon_categ > ul > li {
	background-color:#7A706E;}

.box-content .accordeon_categ > ul > li > a {
	color:#fff;
	}
.box-content .accordeon_categ > ul > li:hover{ background-color:#5f5856;}
.box-content .accordeon_categ > ul > li:hover > a{}


.box-content .accordeon_categ > ul > li.cat-active {
	background-color: #5f5856;
	}
 .box-content .accordeon_categ > ul > li.cat-active > a.active { color:#fff;}
.box-content .accordeon_categ > ul > li ul.active > li a.active,
.dropdown_category .box-content .accordeon_categ > ul > li ul > li:hover > a { color:#fd8a78;}
	
.box-content .accordeon_categ > ul > li > ul {
	background-color: #fff;}	
.box-content .accordeon_categ > ul > li ul > li  a {
	color:#333;
	}

/*category*/
.accordeon_description .accordeon_plus,
.accordeon_description .accordeon_plus.open {
	background-color: rgba(0, 0, 0, 0.04);
}
.accordeon_description .accordeon_plus{background-image: url(../image/icon/menu_down.png);}
.accordeon_description .accordeon_plus.open{background-image: url(../image/icon/menu_up.png);}
.box-category .accordeon_plus {
	background: url(../image/icon/menu_down.png) top right no-repeat;
}

 .box-category .accordeon_plus.open{
	background: url(../image/icon/menu_up.png) top right no-repeat;
}
.manufacturer-heading {
	background: rgba(0, 0, 0, 0.04);}
.product-compare a:hover div{background-color:#8dd7d8;}

/*product-list*/
.product-list > div {
	background-color:#FFF;}
.product-list .name a {
	color: #333;}
.product-list .name a:hover{ color:#ff5d7d;}
.product-list .price {
	color: #FD8A78;}
.product-list .price-old {
	color: #888;}
.product-list .price-tax {
	color: #BBBBBB;}
.product-list .wishlist a, .product-list .compare a {
	color:#777;}
.product-list .wishlist a:hover, .product-list .compare a:hover{
	color: #FD8A78;
}

/*product-grid*/

.product-grid .name a {
	color: #333;}				
.product-grid .name a:hover{ color:#ff5d7d;}
.product-grid .price {
	color: #FD8A78;}
.product-grid .price-old {
	color: #888;}
.product-grid .wishlist a, .product-grid .compare a,
.box-product .wishlist a, .box-product .compare a,
.block2 .wishlist a, .block2 .compare a{
	color:#777;}	
.product-grid .wishlist a:hover, .product-grid .compare a:hover,
.box-product .wishlist a:hover, .box-product .compare a:hover,
.block2 .wishlist a:hover, .block2 .compare a:hover{
	color: #FD8A78;
}

/*Product*/
.product-info .image-additional .active img{
	border-color:#8DD7D8;
}

.product-info .price {
	color: #FD8A78;}
.product-info .price-old {
	color: #888;}

.product-info .cart input.button{ }
.product-info .cart .links a {
	color:#777;}
.product-info .cart .links a:hover{ color:#FD8A78;}

.product-info .review > div > span {
	color: #38B0E3;
}
input#decrease, input#increase{
		background-color:#7A706E;}
input#decrease{
		background-image: url(../image/icon/menu_up.png);}
input#increase{
		background-image: url(../image/icon/menu_down.png);}		

/*compare*/
.compare-info .price{ 
    color: #FD8A78;}
.compare-info .price-old {
	color: #888;}
	
/*wishlist*/
.wishlist-info thead td {
	background-color: #f1f1f1;}	
	
/*cart*/
.cart-info thead td, .checkout-product thead td {
	background-color: #f1f1f1;}	
	
.cart-total #total .right.price{color:#FD8A78;}

/* checkout */
.checkout-heading {
	background-color: #f1f1f1;
	padding:16px;
	color: #555555;	}

.checkout-product tfoot td.total{
	color: #FD8A78;}
	
/*footer*/
	
#footer {
	color:#ddd;
	background-color: #7A706E;
	
}

#footer h3 {
	color: #fff;
	background-color: rgba(0,0,0,0.06);}
#footer a{
	color: #fff;
}

#footer .column li:hover , #footer .box-product .name:hover{
	background-color: rgba(0, 0, 0, 0.06);
}
#powered { background-color:#625a58; color:#eee;}
#powered a{color:#eee;}

#footer .column ul li.phone_f {background: url('../image/icon/mobile_phone.png') top  left no-repeat;}
#footer .column ul li.skype_f {background: url('../image/icon/skype.png') top  left no-repeat;}
#footer .column ul li.fax_f {background: url('../image/icon/fax.png') top  left no-repeat;}
#footer .column ul li.email_f {background: url('../image/icon/mail.png') top  left no-repeat;}
#footer .column ul li.address_f {background: url('../image/icon/address.png') top  left no-repeat;}

/*carousel product*/
.list_carousel a.prev, .list_carousel a.next{
	background-color:#8DD7D8;
    background-image: url(../image/icon/prev_next.png);}	
.list_carousel a.prev:hover, .list_carousel a.next:hover{
	background-color:#FDDF83;}

	
/*carousel brand*/
.jcarousel-skin-opencart .jcarousel-container {
		border-top:1px solid rgba(0,0,0, 0.08);}
.jcarousel-skin-opencart .jcarousel-next-horizontal, .jcarousel-skin-opencart .jcarousel-direction-rtl .jcarousel-next-horizontal,
.jcarousel-skin-opencart .jcarousel-prev-horizontal, .jcarousel-skin-opencart .jcarousel-direction-rtl .jcarousel-prev-horizontal{
	background-color:#8DD7D8;
	background-image:url(../image/icon/prev_next.png);}
.jcarousel-skin-opencart .jcarousel-next-horizontal:hover,
.jcarousel-skin-opencart .jcarousel-prev-horizontal:hover{
	background-color:#FDDF83;}
	
/*Module Mattimeo Categories*/

.verticaltab  .select_category .vtabs {
	background-color:#7a706e;}
 .verticaltab  .select_category > a {
	color: #333;}
.verticaltab  .select_category{
	background-image:url(../image/icon/arrow_down.png);
}
.vtabs li a{
    color:#fff;}
.vtabs a:hover {
   color:#fff;
    background-color: rgba(0, 0, 0, 0.1);}
.vtabs li a.selected {
    color:#333;
	background-color:#8DD7D8; }
.verticaltab .box-product-category{ 
	  background-color:#f1f1f1;}
.verticaltab .name_categ a{
	color:#333;}
.verticaltab .latestprod{}
 .verticaltab .block1{
	 background-color:#FFF;}  

.block2 .name a {
	color: #333;}
.block2 .name a:hover{ color:#ff5d7d;}
.block2 .price {
	color: #FD8A78;}
.block2 .price-old {
	color: #888;}
.verticaltab .owl-theme .owl-controls .owl-buttons div{
	background-color:#8DD7D8;}	
.owl-theme .owl-controls .owl-buttons div, .slideshow .mattSlider .nivo-directionNav a{
    background-color:#FDDF83;
	background-image: url(../image/icon/prev_next.png);}
.verticaltab .owl-theme .owl-controls .owl-buttons div:hover{
	background-color:#FDDF83;}
		
/*news*/
.heading_news_mod a {}
.heading_news_mod a:hover {}
a.readmore {
	background-color:#7A706E;
	color:#FFF;}
a.readmore:hover{ background-color: #FD8A78;}	
.datepost{ color:#888;}			

#topcontrol{ background-color:#8dd7d8;}

/*Module Banner*/
.wrap .two {
    background-color:#fddf83;}
.matban_box .threeheading{color:#333;}
.matban_box.static.maska_text .two > div > div{color:#fff;}		

.quickviewbutton a{}	 	