.cf:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* IE6 */
* html .cf {
	height: 1%;
}
/* IE7 */
*:first-child + html .cf {
	min-height: 1%;
}
.quick-order-pro .js {
	border-bottom: 1px dotted;
	display: inline-block;
	line-height: 1em;
	height: 1em;
	color: #0095dd;
	cursor: pointer;
	background: none;
	padding: 0;
	position: relative;
	text-decoration: none !important;
	letter-spacing: -0.299px;
	font-size: inherit;
}
.quick-order-pro .js:hover {
	border-color: transparent;
}
.quick-order-pro.sidebar {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
    background: #f4f5fd;
}


.quick-order-pro  .header {
	padding: 14px 20px;
	margin-bottom: 20px;
	font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-align: left;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -khtml-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    background: #a0a4bc;
}
.quick-order-pro .header h2 {
color: #fff;
	margin: 0 0 5px;
	padding: 0;
}


.quick-order-pro.sidebar .header .description {
	margin: 10px 0 10px;
	line-height: 1.5 !important;
}


.quick-order-pro .fields .rows .row {
	margin: 0 15px 20px;
	position: relative;
}

.quick-order-pro .fields .rows .row label {
	display: inline-block;
	cursor: default;
	font-size: 1em;
}

.quick-order-pro.sidebar .fields .rows .row label {
	display: block;
	color: #555;
	margin-bottom: 7px;
	text-shadow: 0px 1px 0 rgba(256,256,256,1.0);
	-webkit-text-shadow: 0px 1px 0 rgba(256,256,256,1.0);
	-moz-text-shadow: 0px 1px 0 rgba(256,256,256,1.0);
	-ms-text-shadow: 0px 1px 0 rgba(256,256,256,1.0);
}

.quick-order-pro .fields .rows .radio-wrapper .radio-item input,
.quick-order-pro .fields .rows .checkbox-wrapper .checkbox-item input {
	float: left;
	margin: 2px 0 0;
}
.quick-order-pro .fields .rows select {
	background-color: white;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.quick-order-pro input[type=checkbox]:checked::after {
		content: url('../image/quick_order_pro/checkmark.png');
		display: block;
		position: absolute;
		top: -6px;
		left: -5px;
	}
	.quick-order-pro .fields .rows input[type=checkbox]:checked,
	.quick-order-pro .fields .rows input[type=radio]:checked {
		background: #fff;
	}
	.quick-order-pro .fields .rows input[type=checkbox]:hover {
		border-color: #c6c6c6;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	}
	.quick-order-pro .fields .rows input[type=checkbox]:active, 
	.quick-order-pro .fields .rows input[type=radio]:active {
		border-color: #c6c6c6;
		background: #ebebeb;
	}
	.quick-order-pro .fields .rows input[type=radio]:checked::after {
		content: '';
		display: block;
		position: relative;
		top: 3px;
		left: 3px;
		width: 7px;
		height: 7px;
		background: #666;
		-webkit-border-radius: 1em;
		border-radius: 1em;
	}
	.quick-order-pro .fields .rows input[type=checkbox],
	.quick-order-pro .fields .rows input[type=radio] {
		-webkit-appearance: none;
		appearance: none;
		width: 13px;
		height: 13px;
		margin: 0;
		cursor: pointer;
		vertical-align: bottom;
		background: #fff;
		border: 1px solid #dcdcdc;
		-webkit-border-radius: 1px;
		border-radius: 1px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		position: relative;
	}
	.quick-order-pro .fields .rows input[type=radio] {
		-webkit-border-radius: 1em;
		border-radius: 1em;
		width: 15px;
		height: 15px;
	}
	.quick-order-pro .fields .rows select {
		-webkit-appearance: button;
		appearance: button;
		-moz-appearance: button;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
		-webkit-padding-end: 20px;
		-webkit-padding-start: 2px;
		-webkit-user-select: none;
		background-image: url('../image/quick_order_pro/select-arrow-up-down.png'), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
		background-position: 95% center;
		background-repeat: no-repeat;
		border: 1px solid #AAA;
		color: #555;
		font-size: inherit;
		margin: 0;
		overflow: hidden;
		padding-top: 5px;
		padding-bottom: 5px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
.quick-order-pro button,
.quick-order-pro input,
.quick-order-pro select,
.quick-order-pro textarea {
	font-family: inherit;
	font-size: inherit;
}
.quick-order-pro .fields .rows .radio-wrapper .radio-item strong,
.quick-order-pro .fields .rows .checkbox-wrapper .checkbox-item strong {
	font-weight: normal;
	line-height: 17px;
	display: block;
	margin: 0 0 0 28px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.quick-order-pro .fields .rows .row .field-description {
	color: #666;
	font-style: italic;
	margin: 0;
}
.quick-order-pro.sidebar .fields .rows .row .field-description {
	margin-bottom: 7px;
	font-size: 11px;
	line-height: 13px;
}

.quick-order-pro button::-moz-focus-inner,
.quick-order-pro input::-moz-focus-inner{
	padding:0;
	border:0
}
.quick-order-pro .fields .rows input[type=password],
.quick-order-pro .fields .rows input[type=text],
.quick-order-pro .fields .rows textarea {
	color: #777;
	border: 1px solid #c7d0d2;
	background: #FFF;
	padding: 7px;
	margin: 0;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
}
.quick-order-pro .fields .rows textarea {
	min-height: 15px;
}
.quick-order-pro .fields .rows input[type=password] {
	letter-spacing: 3px;
}
.quick-order-pro.sidebar .fields .rows input[type=password],
.quick-order-pro.sidebar .fields .rows input[type=text],
.quick-order-pro.sidebar .fields .rows textarea {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.quick-order-pro.sidebar .fields .rows select {
	width: 144px;
}
.quick-order-pro.sidebar .fields .rows input[type=password],
.quick-order-pro.sidebar .fields .rows input[type=text] {
	    width: 90%;
}
.quick-order-pro.sidebar .fields .rows textarea {
	padding: 10px;
	    width: 90%;
	height: 50px;
}

.quick-order-pro .fields .rows input[type=radio]:focus,
.quick-order-pro .fields .rows input[type=checkbox]:focus,
.quick-order-pro textarea:focus,
.quick-order-pro input[type="password"]:focus,
.quick-order-pro input[type="text"]:focus {
	border-color: rgba(0, 149, 221, .8) !important;
	outline: none;
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 3px rgba(0, 149, 221, .8);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 3px rgba(0, 149, 221, .8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 3px rgba(0, 149, 221, .8);
	-ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 3px rgba(0, 149, 221, .8);
}
.quick-order-pro .fields .rows .row.button button:focus {
	outline: none;
}
.quick-order-pro .fields .rows .row.button {
	margin: 0;
	padding: 15px 15px;
	overflow: hidden;
	border-top: 1px solid #CCC;
}

.quick-order-pro .fields .rows .row.button button {
	float: right;
	padding: 0;
	width: 90px;
	font-weight: normal;
	display: inline-block;
	border-radius: .25em;
	background-color: #277ac1;
	background: #43a6e2; /* Old browsers */
	background: -moz-linear-gradient(top,  #43a6e2 0%, #277ac1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43a6e2), color-stop(100%,#277ac1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #43a6e2 0%,#277ac1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #43a6e2 0%,#277ac1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #43a6e2 0%,#277ac1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #43a6e2 0%,#277ac1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43a6e2', endColorstr='#277ac1',GradientType=0 ); /* IE6-9 */
	-moz-border-radius: .25em;
	-webkit-border-radius: .25em;
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
	-ms-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#43a6e2', endColorstr='#277ac1', GradientType=0)";
	text-align: center;
	font-size: 13px;
	line-height: 1.1;
	text-decoration: none;
	min-width: 50px;
	border: 0;
	text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	-webkit-text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	-moz-text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	-ms-text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	font-family: 'Open Sans',sans-serif;
}

.quick-order-pro .fields .rows .row.button button span {
	display: inline-block;
	color: #fff;
	cursor: default;
}
.quick-order-pro.sidebar .fields .rows .row.button button span {
	padding: 8px 10px;
	width: 74px;
	cursor:pointer;
}

.quick-order-pro .fields .rows .row.button button:hover {
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #38a9ed;
	-moz-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #38a9ed;
	-webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #38a9ed;
	-ms-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #38a9ed;
	-khtml-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #38a9ed;
	color:#fff;
	text-decoration:none;
}
.quick-order-pro .fields .rows .row.button button:active {
	box-shadow:inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:	inset 0 2px 3px 1px rgba(0,0,0,0.1),inset 0 18px 14px 6px rgba(0,0,0,0.2),inset 0px 0px 1px 0px rgba(0,0,0,0.1);
	-ms-box-shadow: inset 0 2px 3px 1px rgba(0,0,0,0.1),inset 0 18px 14px 6px rgba(0,0,0,0.2),inset 0px 0px 1px 0px rgba(0,0,0,0.1);
	-khtml-box-shadow: inset 0 2px 3px 1px rgba(0,0,0,0.1),inset 0 18px 14px 6px rgba(0,0,0,0.2),inset 0px 0px 1px 0px rgba(0,0,0,0.1);
}
.quick-order-pro .fields .rows .row.button button.disabled {
	opacity: 0.5;
}
.quick-order-pro .fields .rows .row.button button.disabled:hover,
.quick-order-pro .fields .rows .row.button button.disabled:active {
	box-shadow: none;
	-moz-box-shadow: none;
}
.quick-order-pro.sidebar .product-info-block {
	margin: 0;
	padding: 15px 15px 10px;
	border-top: 1px solid #fff;
	box-shadow: inset 0 1px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0px rgba(0,0,0,0.15);
}

.quick-order-pro .product-info-block .name {
	margin-bottom: 4px;
	font-weight: bold;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,0.5);
	-webkit-text-shadow: 1px 1px 0 rgba(256,256,256,0.5);
	-moz-text-shadow: 1px 1px 0 rgba(256,256,256,0.5);
	-ms-text-shadow: 1px 1px 0 rgba(256,256,256,0.5);
	font-size: 13px;
}

.quick-order-pro .product-info-block ul.options {
	margin: 0;
	padding: 0;
	list-style: none;
	margin: 0;
}
.quick-order-pro.sidebar .product-info-block ul.options {
	margin: 0 0 15px;
}
.quick-order-pro.sidebar .product-info-block .options small {
	color: #666;
}
.quick-order-pro .fields .rows .row.button .error {
	font-style: italic;
	display: block;
}
.quick-order-pro.sidebar .fields .rows .row.button .error {
	margin-top: 10px;
	clear: both;
	font-size: 10px;
	text-align: right;
	margin-left: -10px;
	float: right;
}

.quick-order-pro.sidebar .total {
    font-size: 15px;
    /* float: right; */
    display: inline-block;
    vertical-align: bottom;
    margin-top: 5px;
}

.quick-order-pro .total .total-label {
	font-weight: normal;
	color: #414848;
	text-shadow: 0 1px 0 rgba(0,0,0,0.25);
}
.quick-order-pro .total b {
	color: #000;
	text-shadow: 1px 1px 0 rgba(256,256,256,0.5);
}
.quick-order-pro .fields .rows .row .error {
	font-size: 11px;
	clear: both;
	margin-top: 3px;
}

.quick-order-pro.sidebar .error-item {
	border-color: red !important;
	color: red !important;
}



